img {
	width: 100%;
}

.nav {
	margin: 5px 0 5px 0;
	overflow: hidden;
}

.nav p {
	float: left;
	margin: 7px;
}

.header-section {
/*	border: 2px solid red;*/
	position: relative;
}

/*******DRY ENOUGH?*******/
.header-li:last-of-type {
	position: absolute;
	top: 33%;
	left: 35%;	
}

.header-li #words {
/*	border: 2px solid red;*/
	display: inline-block;
	text-align: center;
}

#words p {
/*	border: 2px solid blue;*/
	font-size: 45px;
	color: white;
	margin: 5px 0;
}
/*****DRY ENOUGH? END******/
.one {
	border: 2px solid red;
	display: inline-block;
	width: 100%;
}

/*div.one .each {
	background-color: #ccc;
}*/

/******TURN DIV OFF*******/
ul.plan {
	border: 2px solid blue;
	display: inline-block;
	list-style: none;
	overflow: hidden;
	padding: 0;
}

.each {
	border: 3px dotted green;
	margin: 15px;
	float: left;
}

.each div:first-of-type {
	background-color: green;
}

.each ul {
	background-color: #ccc;
}

.each div:last-of-type p {
	background-color: lightyellow;
	margin: 0;
}














.two {
	border: 2px solid red;
	margin: 5px;
	padding: 5px;
}

.footer {
	border: 2px solid red;
	margin: 5px;
	padding: 5px;
}

/******************************/

/*This overlays the text onto image*/

/*.header-section {
	position: relative;
}

.header-element #sp {
	position: absolute;
	top: 120px;
	display: inline;
	padding: 0 37.7%;
}

.header-element #tyb {
	position: absolute;
	top: 175px;
	padding: 0 34.6%;
}

.header-element #sp, #tyb {
	font-size: 48px;
	color: white;
}*/





