img {
	width: 100%;
}

.nav {
	margin: 5px 0 5px 0;
	overflow: hidden;
}

.nav p {
	float: left;
	margin: 7px;
}

.header-section {
/*	border: 2px solid red;*/
	position: relative;
}

/*******DRY ENOUGH?*******/
.header-li:last-of-type {
	position: absolute;
	top: 33%;
	left: 35%;	
}

.header-li #words {
/*	border: 2px solid red;*/
	display: inline-block;
	text-align: center;
}

#words p {
/*	border: 2px solid blue;*/
	font-size: 45px;
	color: white;
	margin: 5px 0;
}
/*****DRY ENOUGH? END******/
.one {
	border: 2px solid red;
	display: inline-block;
	text-align: center;
	width: 100%;
}

/*div.one .each {
	background-color: #ccc;
}*/

/******TURN DIV OFF*******/

/***General Styling for One Charts***/
ul.plan {
/*	border: 2px solid blue;*/
	display: inline-block;
	list-style: none;
	overflow: hidden;
	padding: 0;
}

.each {
	border: 1px solid #CFCFCF;
	margin: 5px;
	float: left;
}

.each ul {
	padding-left: 0;
}

.each ul li {
	background-color: #EDEDED;
	color: #6B6B6B;
	font-size: 11px;
	padding: 10px 50px;
	list-style: none;
	border-bottom: .5px solid #CFCFCF;
}

.each div:last-of-type p {
	background-color: lightyellow;
	margin: 0;
}

/****General Styling One Color Block*****/
.each div:first-of-type {
	color: white;
	padding: 18px 0;
}

.each div:first-of-type #name {
	font-size: 12px;
}

.each div:first-of-type #dollars {
	font-size: 55px;

}

.each div:first-of-type #per-month {
	color: #dbdbdb;
	font-size: 14px;
}

.each #green {
	background-color: #3F9E4D;
}

.each #blue {
	background-color: #0D4F8B;
}

.each #black {
	background-color: black;
}
/***************************/

/*.two ul {
	border: 2px solid red;
	list-style: none;
	margin: 5px;
	padding: 5px;
}

.two ul li {
	border: 2px solid pink;
	margin: 35px;
	width: 520px;
	font-size: 14px;
}*/

.footer {
	border: 2px solid red;
	margin: 5px;
	padding: 5px;
}

/******************************/

/*This overlays the text onto image*/

/*.header-section {
	position: relative;
}

.header-element #sp {
	position: absolute;
	top: 120px;
	display: inline;
	padding: 0 37.7%;
}

.header-element #tyb {
	position: absolute;
	top: 175px;
	padding: 0 34.6%;
}

.header-element #sp, #tyb {
	font-size: 48px;
	color: white;
}*/





