img {
	width: 100%;
}

.nav {
	margin: 5px 0 5px 0;
	overflow: hidden;
}

.nav p {
	float: left;
	margin: 7px;
	font-size: 16px;
	letter-spacing: 90%;
	color: gray;
}

.nav .nav-styling {
	color: #636363;
	letter-spacing: .4px;
}

.nav #pricing {
	color: black;
}

.header-section {
	position: relative;
}

.header-li:last-of-type {
	position: absolute;
	top: 33%;
	left: 35%;	
}

.header-li #words {
	display: inline-block;
	text-align: center;
	text-shadow: 0px 3px 1px black;
}

#words p {
	font-size: 45px;
	color: white;
	margin: 8px 0;
}

.one {
	display: inline-block;
	text-align: center;
	margin: 30px 0 15px 0;
	width: 100%;
}

ul.plan {
	display: inline-block;
	list-style: none;
	overflow: hidden;
	padding: 0;
}

.each {
	border: 1px solid #CFCFCF;
	margin: 10px;
	float: left;
	width: 290px;
}

.each ul {
	padding-left: 0;
}

.each ul li {
	background-color: #EDEDED;
	color: #6B6B6B;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 7.5px 35px;
	list-style: none;
	border-bottom: .5px solid #CFCFCF;
}

.each div:last-of-type p {
	background-color: white;
	border: 1px solid #CFCFCF;
	border-radius: 25px;
	font-size: 14px;
	font-weight: bolder;
	margin: 23px 20px;
	padding: 6px 12px;
	display: inline-block;
}

.each div:first-of-type {
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	letter-spacing: 3px;
	color: white;
	padding: 50px 0;
}

.each div:first-of-type #name {
	font-size: 14px;
}

.each div:first-of-type #dollars {
	font-size: 90px;

}

.each div:first-of-type #per-month {
	color: #dbdbdb;
	font-size: 18px;
	letter-spacing: -1.5px;
}

.each #green {
	background-color: #3F9E4D;
}

.each #blue {
	background-color: #0D4F8B;
}

.each #black {
	background-color: black;
}

.two {
	margin: 4px 30px 7px 30px;
}

.two ul {
	margin: auto;
	padding: 10px;
	width: 950px;
	overflow: hidden;
}

.two ul li {
	list-style: none;
	margin: 10px 35px;
	width: 400px;
	font-size: 12px;
	float: left;

}

.two ul li .header {
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: 4.5px;
	font-weight: bolder;
	font-size: 16px;
}

.paragraph {
	line-height: 160%;
}

.footer {
	margin: 5px;
	padding: 25px;
	color: white;
	font-size: 13px;
	text-align: center;
	background-color: black;
}

.footer #middle-text {
	color: gray;
}
.footer .try-now-unsplash {
	text-decoration: underline;

}
